.footer {
  height: 10%;
  display: flex;
  background-color: rgb(48, 201, 201);
  padding: 20px 30px 30px 20px;
  align-items: right;
  justify-content: right;
  /* overflow: hidden; */
}

#footer-logo {
  font-family: "sixtyfour", sans-serif;
  font-weight: bold;
  font-size: 25px;
  align-self: center;
}

#footer-address {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  align-self: center;
}

.brandress {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  flex: 1;
  padding: 3px;
  justify-content: left;
}

.f1,
.f2 {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  flex: 1;
  padding: 3px;
  justify-content: left;
}
