body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  vertical-align: top;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  background-color: rgb(48, 201, 201);
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.header-left {
  display: flex;
  flex-shrink: 0;
  flex: 1;
  padding-left: 2%;
  justify-content: left;
}

.header-logo {
  width: 70px;
  height: 20px;
}

.header-title {
  flex: 1;
  font-family: "Sixtyfour", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: rgb(189, 30, 56);
  align-items: left;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 0px;
}

.header-right {
  width: 600px;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  justify-content: space-evenly;
  flex-shrink: 0;
}

a,
a:visited {
  color: #000000;
  text-decoration: none;
  flex-shrink: 0;
}

a:hover,
a:active {
  color: #000000;
  text-decoration: underline;
}
